In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
#Load the data set

file="C:/DataAnalystWorkspace/Sales Analysis for e-comerence/Amazon Sales.csv"
df=pd.read_csv(file)
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,0,405-8078784-5731545,22/04/30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Not Shipped,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,No Promotion,False
1,1,171-9198151-1101146,22/04/30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,2,404-0687676-7273146,22/04/30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,3,403-9615377-8133951,22/04/30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Not Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,No Promotion,False
4,4,407-1069790-7240320,22/04/30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,No Promotion,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,22/05/31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,Shipped,1,INR,517.00,HYDERABAD,TELANGANA,500013,IN,No Promotion,False
128971,128971,402-9551604-7544318,22/05/31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,Shipped,1,INR,999.00,GURUGRAM,HARYANA,122004,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False
128972,128972,407-9547469-3152358,22/05/31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,Shipped,1,INR,690.00,HYDERABAD,TELANGANA,500049,IN,No Promotion,False
128973,128973,402-6184140-0545956,22/05/31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,Shipped,1,INR,1199.00,HALOL,Gujarat,389350,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False
128974,128974,408-7436540-8728312,22/05/31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,Shipped,1,INR,696.00,RAIPUR,CHHATTISGARH,492014,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False

In [3]:
#find the shape of the data set
df.shape

(128975, 22)

In [4]:
#check the file info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            128975 non-null  object
 15  Amount              128975 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128975 non-null  int64
 19  ship-country        128942 non-null  object
 20  promotion-ids       128975 non-null  object
 21  B2B                 128975 non-null  bool
dtypes: bool(1), float64(1), int64(3), object(17)
memory usage: 20.8+ MB

In [5]:
#describe the data set
df.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  128975.000000     128975.000000
mean    64487.000000       0.904431     609.363662     463847.524466
std     37232.019822       0.313354     313.347147     191596.021199
min         0.000000       0.000000       0.000000          0.000000
25%     32243.500000       1.000000     413.000000     382421.000000
50%     64487.000000       1.000000     583.000000     500033.000000
75%     96730.500000       1.000000     771.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

In [6]:
#Check whether the date in correct format

type(df['Date'][0])

str

In [7]:
df['Date'][0]

'22/04/30'

In [8]:
#year/month/date
#22/04/30

#convert year from 22/ to 2022/
df['Date']=df['Date'].replace({"22/":"2022/"},regex=True)

In [10]:
# Changing date format
df['Date']=pd.to_datetime(df['Date'])

In [11]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Not Shipped,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,No Promotion,False
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Not Shipped,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,No Promotion,False
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,No Promotion,False

In [12]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
#checking all the columns
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B'],
      dtype='object')

In [14]:
#finding any null or na values
df.isnull().sum()

index                  0
Order ID               0
Date                   0
Status                 0
Fulfilment             0
Sales Channel          0
ship-service-level     0
Style                  0
SKU                    0
Category               0
Size                   0
ASIN                   0
Courier Status         0
Qty                    0
currency               0
Amount                 0
ship-city             33
ship-state            33
ship-postal-code       0
ship-country          33
promotion-ids          0
B2B                    0
dtype: int64

In [15]:
df.isna().sum()

index                  0
Order ID               0
Date                   0
Status                 0
Fulfilment             0
Sales Channel          0
ship-service-level     0
Style                  0
SKU                    0
Category               0
Size                   0
ASIN                   0
Courier Status         0
Qty                    0
currency               0
Amount                 0
ship-city             33
ship-state            33
ship-postal-code       0
ship-country          33
promotion-ids          0
B2B                    0
dtype: int64

In [17]:
# to import the cleaned data set
df.to_csv('__cleaned_sales_data.csv')